/* Global Styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Remove horizontal scrollbar */
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(135deg, #3a0ca3, #7209b7); /* purple gradient */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.2rem;
  min-height: 100vh;
}

/* Form Styles */
.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #0b125e;
  border-radius: 5px;
  width: 87%; /* Original width */
  max-width: 500px; /* Original max-width */
  margin: 20px auto;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.task-form input,
.task-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  resize: none;
  background-color: #0b357d;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.task-form button {
  background-color: #0b357d;
  color: #fff;
  letter-spacing: 0.3rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.task-form button:hover {
  background-color: #4895ef;
  box-shadow: 0 0 10px rgba(72, 149, 239, 0.5);
  color: #000;
  transform: scale(1.05);
}

::placeholder {
  color: rgb(184, 178, 178);
  letter-spacing: 0.25rem;
}

/* Task List Styles */
.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Original width */
  padding: 20px;
  overflow-y: auto;
  transition: opacity 0.3s ease-in-out;
}

.task-list-header {
  display: flex;
  gap: 1rem; /* Adjust gap for spacing */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%; /* Original width */
  max-width: 500px; /* Original max-width */
  transition: opacity 0.3s ease-in-out;
}

.task-list-name,
.search-input,
button {
  transition: transform 0.3s ease-in-out;
}

.add {
  font-size: 2rem;
  border-radius: 50%; /* Make it completely rounded */
  width: 2.5rem;
  height: 2.5rem;
}

.task-list-name {
  font-size: 2rem;
}

.search-input {
  box-shadow: inset 0 0 10px rgba(72, 149, 239, 0.5);
  width: 100%; /* Increase width */
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

/* Task Item Styles */
.task-item {
  background-color: #2b2d42;
  padding: 15px;
  margin-bottom: 10px;
  width: 90%; /* Original width */
  max-width: 800px; /* Original max-width */
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.task-item.completed {
  text-decoration: line-through;
  background-color: #1f1f1f;
}

.task-item h3 {
  margin: 0;
  color: #fff;
}

.task-item p {
  margin: 10px 0 15px 0;
  font-size: 14px;
  color: #ffffff;
}

.task-item button {
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.expand {
  background: linear-gradient(135deg, #3a0ca3, #7209b7); /* purple gradient */
  box-shadow: 0 0 10px rgba(72, 149, 239, 0.7);
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: #fff;
  letter-spacing: 0.25rem;
}

.expand:hover {
  transform: scale(1.05);
}

.done {
  background: linear-gradient(135deg, #0b4d1d, #68ef78);
  box-shadow: 0 0 10px rgba(72, 149, 239, 0.7);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: #fff;
  letter-spacing: 0.25rem;
}

.done:hover {
  transform: scale(1.05);
}

.task-item button:last-of-type {
  background: linear-gradient(135deg, #910707, #f33d3d);
  letter-spacing: 0.25rem;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.task-item button:last-of-type:hover {
  transform: scale(1.05);
}

.save {
  background: linear-gradient(135deg, #0b4d1d, #68ef78);
  box-shadow: 0 0 10px rgba(72, 149, 239, 0.7);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: #fff;
  letter-spacing: 0.25rem;
}

.save:hover {
  transform: scale(1.05);
}

/* Input and Button Styles */
input,
textarea,
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input,
textarea {
  width: 90%; /* Original width */
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.add {
  background-color: #49574f;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}

.add:hover {
  background-color: #4895ef;
  box-shadow: 0 0 10px rgba(72, 149, 239, 0.5);
  transform: scale(1.05);
}
